@media (max-width:1185px){
    .header{
        height: 90px;
    }
    .header-div{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;
    }
    .main{
        padding-top: 95px;
    }

}
@media (max-width:1050px) {
    .header__navbar ul a {
        padding: 0 25px;
    }
}

@media (max-width:867px){
    
    .text{
        width: 60%;
        text-align: center;
    
    }
    .aboutus p{
        width: 70%;
        
    }
    .contact form{width: 80%;}
}

@media (max-width:820px){
    .header-div{
        flex-direction: row;
        justify-content: space-between;
    }
    .header__firma{font-size: 1.5rem;}
    .header__navbar label{
        display: flex;
    }
    .navbar__list{
        position: absolute;
        top: -1000%;
        left: 0;
        width: 100%;
        height: calc(100vh - 90px);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background: #fafafa10;
        backdrop-filter: blur(0.4rem);
        gap: 5rem;
        font-size: 2rem;
        /* transform: translateY(-200%); */
        transition: top 0.4s;
        
    }
    
    .header__navbar input:checked ~ .navbar__list{
        top: 90px;
    }

    .header__navbar input:checked ~ .bars-menu span:nth-child(1){
        rotate: 135deg;
        position: absolute;
        top: 0;
    }
    .header__navbar input:checked ~ .bars-menu span:nth-child(2){
        opacity: 0;
    }
    .header__navbar input:checked ~ .bars-menu span:nth-child(3){
        rotate: 225deg;
        position: absolute;
        top: 0;
    }
    .title{font-size: 2.5rem;}
}

@media (max-width:640px){
    .title{font-size: 2rem;}
    .contact form{width: 90%;}
    .footer span{
        width: 25%;
    }
}

@media (max-width:490px){

    #home{
        scroll-margin-top: 85px;
    }
    #products,#contactus{
        scroll-margin-top: 90px;
    }

    .header__navbar ul a{
        color: black;
    }


    .header__firma{
        font-size: 1rem;
    }
    .hero .title{
        width: 50%;
    }
    .contact-div{
        flex-direction: column;
        justify-content: center;
    }
    .contact-div ul{
        display: flex;
        align-items: center;
        font-size: 0.7rem;
    }
    .contact-div ul li{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;
        text-align: center;
    }
    .contact-div iframe{
        height: 150px;
        width: 90%;
    }
    .footer span{
        width: 20%;
    }
}