*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
}

.landing-page{
    position: absolute;
    display: flex;
    gap: 10px;
    padding: 20px;
    color: white;
    font-size: 2rem;
}


.signup{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background:url('assets/biblioteca.jpg') no-repeat center;
    background-size: cover;
}
.signup-container{
    width: 30%;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    color: white;
    text-align: center;
}
.signup-container h2{
    font-size: 3rem;
}
.signup-container p{
    font-size: 1.5rem;
}
.signup-container a{color: rgb(236, 236, 47);}
.signup-container input{
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid white;
    background: none;
    width:90%;
    text-align: center;
    padding: 10px;
}
.signup-container input{
    color: white;
}
.signup-container input::placeholder{
    color: white;
}

button{
    padding: 10px 20px;
    border-radius: 8px;
    background-color: rgba(208, 180, 39, 0.794);
    cursor: pointer;
}
button:hover{
    background-color: rgba(253, 212, 5, 0.794);
}

@media (max-width:1005px){
    .signup-container{
        width: 40%;
    }
}
@media (max-width:780px) {
    .signup-container{
        width: 70%;
        /* background-color: aquamarine; */
    }
    .signup-container input{
        width: 100%;
    }
}