*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    /* background-color:rgba(34, 10, 10, 0.261) */
    background: linear-gradient(to bottom, #FFA17F, #607a8e);
}
.container{width: 80%;max-width: 1200px;margin: auto;}
section{
    padding: 20px 0;
}
button:hover{filter: brightness(140%);}
/* HEADER */
.header{
    position: fixed;
    width: 100%;  
    height: 60px;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.4);
    display: flex;
    align-items: center;
    font-family: 'Josefin Sans', sans-serif;
    background:rgba(255, 161, 127,0.8)
}
.header-div{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header__firma{
    display: flex;
    gap: 10px;
    font-size: 1.2rem;
}
.header__navbar input{display: none;}
.header__navbar label{display: none;flex-direction: column; gap: 5px;position: relative;}
.header__navbar span{
    width: 30px;
    height: 2px;
    background-color: black;
}
.header__navbar ul a{
    padding:0 40px;
    text-decoration: none;
    color: white;
}
.header__navbar ul a:hover{color: rgb(251, 254, 105);}



/* Hero */
.main{padding-top: 65px;}
.hero{
    width: 100%;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: url('assets/biblioteca.jpg') no-repeat center; 
    background-size: cover;
    color: white;
    gap: 2rem;
}
.title{
    font-size: 3rem;
    text-align: center;
}
.text{
    font-size: 1.5rem;
}

/* About us */

.aboutus{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
}
.aboutus p{
    width: 50%;
    font-size: 1.5rem;
    line-height: 2.5rem;
    text-align: center;
}

/* Products */

#home{
    scroll-margin-top: 90px;
}
#products,#contactus{
    scroll-margin-top: 68px;
}

.products{
    margin-top: 30px;
    text-align: center;
    font-family: 'Josefin Sans', sans-serif;
}
.products__container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
}
.products__container > div{
    display: flex;
    flex-direction: column;
    gap: 20px; 
    padding: 20px;
    width: 400px;
    justify-content: center;
    align-items: center;
}
.products img{
    width: 250px;
    height: 300px;
    border: 6px solid black;
    border-radius: 6px;
}

.comprar{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 80%;
}
.comprar button{
    padding: 5px 20px;
    border-radius: 8px;
    background-color: rgba(255, 60, 0, 0.636);
    cursor: pointer;
}


/* Contact */
.contact{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
}
.contact form{width: 60%;padding: 10px;border: 2px solid rgb(255, 179, 2); border-radius: 8px;}
.contact label,.contact input,.contact button{
    display: block;
    padding: 10px;
}
.contact input,.contact textarea{
    width: 90%;
    height: 40px;
    border-radius: 8px;
}
.contact textarea{height: 100px;resize: none;padding: 10px;}
.contact button{
    padding: 5px 20px;
    border-radius: 8px;
    cursor: pointer;
    margin-top: 10px;
}
.contact-div{
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
    
}
.contact-div li{
    list-style: none;
    margin-bottom: 40px;
}
.contact-div a,.contact-div p{
    display: inline;
    padding: 0 15px;
    color: white;
    text-decoration: none;
}
.contact iframe{
    width: 40%;
    height: 300px;
    border-radius: 8px;
}

/* Footer */

.footer{
    height: 70px;
    display: flex;
    justify-content: center;    
    align-items: center;
}
.footer span{
    width: 35%;
    height: 2px;
    background-color: black;
}

    